.main {
  height: 100dvh;
  z-index: 1;
  position: sticky;
  top: 0;
}

.talk {
  display: grid;
  width: 100%;
  height: 100dvh;
  transition: height 0.5s ease-in-out;
  grid-template-columns: 80% 20%;
  background-color: #f7f7f7;
  padding: 0.25rem;
  box-sizing: border-box;

  z-index: 1;
}

.talk-title {
  font-size: 1rem;
  margin: 1rem 0.5rem;
}

.point {
  border-radius: 6px;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 4;
}

.point-text-cnt {
  height: 100%;
  overflow: auto;
}

.point-text {
  font-size: 2.2rem;
  font-weight: 500;
}

.point-control button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #31603d;
}

.point-control button img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  filter: invert(1);
}

.point-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100dvh;
  padding: 0.5rem;

  box-sizing: border-box;
  gap: 0.5rem;
}

.pop-buttons {
  display: flex;
  flex-direction: column;
  transition: all 2s;

  max-height: 100%;
  overflow: auto;

  gap: 0.5rem;
}

.pops {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet";
  gap: 0.5rem;
  max-height: calc(70% - 3.5rem);
}

.pops-edit {
  display: flex;
  justify-content: center;
  gap: 0.2rem;

  max-width: 100%;
}

.edit-buttons,
.control-buttons {
  display: flex;
  background-color: #1d1c1a;
  padding: 0.5rem;
  border-radius: 6px;
}

.edit-buttons button,
.control-buttons button {
  background-color: transparent;
}

.edit-buttons img,
.control-buttons img {
  width: 40px;
  background-color: transparent;
}

.control-buttons img {
  filter: invert(1);
}
#control-up {
  transform: rotate(270deg);
}

#control-down {
  transform: rotate(270deg);
}
.pop-buttons button {
  background-color: #1d1c1a;
  font-size: 1rem;
  border-radius: 2px;
  color: white;
  border-radius: 3px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: bold;
  padding: 1rem;
  border-bottom: 2px solid white;
}

.timer button img {
  max-width: 100%;
  max-height: 100%;
  filter: invert(1);
  cursor: pointer;
}

.timer {
  background-color: #31603d;
  color: white;
  border-radius: 6px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.timer h1 {
  margin: 0px;
  font-size: 3rem;
}

.timer div {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.timer button {
  background-color: transparent;
  padding: 0px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  color: black;

  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 2rem;
  box-sizing: border-box;
}

.popup-content {
  background-color: #f7f7f7;
  border-left: 3px solid #689a62;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  max-height: 100%;
  max-width: 100%;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.talk-data {
  display: flex;
  gap: 1rem;
}

.talk-data input {
  padding: 1rem;
  font-size: 16px;

  border: none;
  color: #1f1f1feb;
}

.talk-data button {
  border-radius: 6px;
  background: #31603d;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: auto;
}

.add-pop,
.addtitle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 2rem;

  box-sizing: border-box;
}

.add-title-content {
  background-color: white;
  color: #1d1c1a;
  padding: 1rem;
  font-family: "Cabinet Grotesk";
}

.add-title-input {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.add-title-input input {
  border-bottom: 3px solid #31603d;
  border-radius: 0;
}
.add-title-input button {
  background-color: #31603d;
  color: white;
  border: 1px solid #31603d;
  padding: 0.5rem;
  transition: all 0.5s;
}

.add-title-input button:hover {
  color: #31603d;
  background-color: #f7f7f7;
}
.add-pop-content {
  height: 100svh;
  display: flex;
  font-family: "Cabinet Grotesk";
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  max-height: 100%;
  gap: 0.5rem;
  background-color: rgb(240, 240, 240);
  padding: 2rem;
  position: relative;
  border-bottom: 3px solid #31603d;
  box-sizing: border-box;
}

.add-pop {
  font-family: "Supreme";
  font-weight: bold;
}

.add-pop input,
textarea {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 2px;
}

.add-pop h1 {
  color: #1d1c1a;
  font-weight: 600;
  font-size: 1.6rem;
}

.add-pop button {
  background-color: #f7f7f7;
  color: #689a62;
  font-weight: bold;
  border: 1px solid #689a62;

  padding: 1rem;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.add-pop button:hover {
  background-color: #689a62;
  color: #f7f7f7;
}

.close-pop-up img {
  width: 20px;
}
.close-pop-up {
  position: absolute;
  background-color: transparent !important;
  right: 0;
  top: 0px;
}

.util-btns {
  display: flex;
  gap: 1rem;
}

.btn-save {
  color: white;

  border-radius: 6px !important;
  font-weight: bold;
  border: 1px solid #689a62;
  transition: all 0.5s;
}

.btn-save:hover {
  background-color: white;
  color: #31603d;
}

.close-pop-up {
  border: 0px !important;
}
@media screen and (max-width: 932px) {
  .pop {
    padding-right: 0.5rem;
  }
  .pops-edit {
    flex-direction: column;
    gap: 0.3rem;
  }
  .control-buttons,
  .edit-buttons {
    padding: 0.3rem;
    justify-content: space-evenly;
  }

  .edit-buttons img,
  .control-buttons img {
    width: 30px;
  }
}

@media screen and (max-width: 726px) {
  .timer h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 460px) {
  .talk {
    display: flex;
    flex-direction: column;
  }

  .talk-data {
    flex-wrap: wrap;
  }
  .point {
    height: 100dvh;
  }
  .pops-edit {
    flex-direction: row;
  }
  .edit-buttons img,
  .control-buttons img {
    width: 40px;
  }

  .main {
    height: 100dvh;
  }
  .timer h1 {
    font-size: unset;
  }
}

@media screen and (max-width: 509px) {
  .point-control {
    flex-direction: column;
    align-items: first baseline;
  }
  .point-control div {
    align-items: center;
  }
}
