.home {
  position: sticky;
  top: 0;
  z-index: 0;
  font-family: "Cabinet Grotesk";
  background-color: #31603d;
  padding: 1rem;
  padding-left: 0.5rem;
}

.hero-text h1 {
  font-size: 2rem;
  color: white;
}

.hero-text {
  padding: 1rem;
}
