.main {
  height: 100dvh;
}

.talk {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 80% 20%;
  gap: 0.5rem;
}

.talk-title {
  font-size: 1rem;
  margin: 1rem 0.5rem;
}

.point {
  border-radius: 22px;
  background-color: rgba(240, 240, 240, 0.9);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 4;
}

.point-text-cnt {
  height: 100%;
  overflow: auto;
}

.point-text {
  font-size: 2.2rem;
  font-weight: 500;
}

.point-control button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #8ec572e2;
}

.point-control button img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  filter: invert(1);
}

.point-control {
  display: flex;
  gap: 1rem;
}

.pop {
  border-radius: 22px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-buttons {
  border-radius: 22px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 0.5rem;
}

.pop-buttons button {
  padding: 0.9rem;
  border-radius: 22px;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  background-color: #1f1f1feb;
  border-bottom: 2px solid white;
}

.timer button img {
  max-width: 100%;
  max-height: 100%;
  filter: invert(1);
  cursor: pointer;
}

.timer {
  background-color: #8ec572e2;
  color: white;
  border-radius: 22px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.timer h1 {
  margin: 0px;
  font-size: 4rem;
}

.timer div {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.timer button {
  background-color: transparent;
  padding: 0px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 2rem;
  box-sizing: border-box;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 22px;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.talk-data {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.talk-data input {
  padding: 1rem;
  border-radius: 22px;
  border: 2px solid #1f1f1feb;
  color: #1f1f1feb;
}

.talk-data button {
  border-radius: 22px;
  background: #8ec572e2;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
