p,
h1 {
  margin: 0px;
}

button {
  border: none;
  cursor: pointer;
}
b {
  font-weight: bold;
}

input,
textarea {
  border: none;
  outline: none;
  border-radius: 6px;
}

body {
  font-family: "Supreme", sans-serif;
  background-color: #f7f7f7;
}
