p,
h1 {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline 1px solid #1a1a11;
}

button {
  border: none;
  cursor: pointer;
}
b {
  font-weight: bold;
}

input,
textarea {
  border: none;
  outline: none;
  border-radius: 6px;
}

body {
  font-family: "Supreme", sans-serif;
  background-color: #f7f7f7;
}

ul {
  list-style: none;
  padding-left: 0;
}
